

::ng-deep .swiper-button-next,
::ng-deep .swiper-button-prev {
  color: #000 !important;
  font-weight: 900;
}

:root {
  --swiper-theme-color: #000 !important;
}

::ng-deep .swiper-pagination-bullet-active,
::ng-deep .swiper-pagination-bullet {
  background: #000 !important; /* Color de los bullets */
}
::ng-deep .swiper-pagination-bullet-active {
  background: #000 !important; /* Color de los bullets activos */
}

h1 {
  font-size: 2.5rem;
}

/* Estilos base para dispositivos grandes */


/* Media query para dispositivos pequeños (menores a 1024px) */
@media (max-width: 1023px) {
  .product-card {
    margin: 0 10px; /* Añade padding a los lados del contenedor de Swiper */
  }

  .swiper-button-next,
  .swiper-button-prev {
    margin: 0 20px; /* Añade margen a las flechas de navegación si es necesario */
  }
}
