<section class="flex flex-col justify-center items-center bg-white p-4">
  <h1 class="text-5xl font-black font-sans">Lo más vendido</h1>
  <div class="flex flex-row p-2">
    <a
      href="/{{producto.tipo}}/{{producto.cat}}/{{producto.nombre}}"
      *ngFor="let producto of productosArray"
    >
      <div
        class="flex flex-col p-8 drop-shadow-xl hover:scale-110 transition-all duration-300 cursor-pointer"
      >
        <div class="bg-slate-50 rounded-t-3xl flex justify-center items-center">
          <img
            src="{{ producto.img }}"
            alt="Image for top sell products"
            class="w-auto h-72 p-2 drop-shadow-md"
          /><!-- Cambiarlo-->
        </div>
        <div class="bg-black rounded-b-3xl p-4 flex flex-row items-center">
          <p class="text-white font-sans font-semibold w-36">
            {{ producto.nombre }}
          </p>
          <p class="text-white font-sans text-4xl font-semibold px-2">
            {{ producto.precio }}
          </p>
          <!-- Cambiarlo-->
          <img
            src="../../../assets/img/Arrow 2.svg"
            alt="image arrow for title"
            class="md:ml-2 drop-shadow-2xl w-auto h-8"
          />
        </div>
      </div>
    </a>
  </div>
</section>
