a {
  display: inline-block; /* O inline-block si es necesario */
  padding: 0;  
}


::ng-deep .swiper-button-next,
::ng-deep .swiper-button-prev {
  color: #000 !important;
  font-weight: 900;
}

:root {
  --swiper-theme-color: #000 !important;
}

::ng-deep .swiper-pagination-bullet-active,
::ng-deep .swiper-pagination-bullet {
  background: #000 !important; /* Color de los bullets */
}
::ng-deep .swiper-pagination-bullet-active {
  background: #000 !important; /* Color de los bullets activos */
}
