<footer class="footer-container flex flex-col bg-white">
  <section class="flex flex-row justify-around">
    <div class="footer-section flex flex-col space-y-2">
      <h5 class="font-black text-xl">Ayuda</h5>
      <a href="">Preguntas frecuentes</a><a href="">Política de envíos</a
      ><a href="">Estado de mi pedido</a><a href="">Cómo devolver</a
      ><a href="">Tramitar devolución</a><a href="">Tarjeta regalo</a>
    </div>
    <div class="footer-section flex flex-col space-y-2">
      <h5 class="font-black text-xl">Empresa</h5>
      <a href="">Quiénes somos</a><a href="">Localizador de tiendas</a
      ><a href="">Trabaja con nosotros</a>
    </div>
    <div class="flex flex-col justify-start">
      <div class="footer-section">
        <h5 class="font-black text-xl">Nuestra app</h5>
        <div class="flex flex-row items-center">
          <a href="https://www.apple.com/es/app-store/" target="_blank">
            <img
              src="../../../assets/img/appStore.svg"
              alt="Image for google play badge"
              class="w-auto h-11 cursor-pointer"
            />
          </a>
          <a href="https://play.google.com" target="_blank">
            <img
              src="../../../assets/img/google-play-badge.png"
              alt="Image for google play badge"
              class="w-auto h-14 cursor-pointer"
            />
          </a>
        </div>
      </div>
      <div class="footer-section">
        <h5 class="font-black text-xl">Métodos de pago</h5>
        <div class="flex flex-row items-center flex-wrap cards">
          <img
            src="../../../assets/img/visa_icon.svg"
            alt="Image for google play badge"
            class="w-auto h-10 bg-[#F6F6F6] rounded-lg px-2"
          />
          <img
            src="../../../assets/img/mastercard_icon.svg"
            alt="Image for google play badge"
            class="w-auto h-10 bg-[#F6F6F6] rounded-lg px-2"
          />
          <img
            src="../../../assets/img/american express_icon.svg"
            alt="Image for google play badge"
            class="w-auto h-10 bg-[#F6F6F6] rounded-lg px-2"
          />
          <img
            src="../../../assets/img/paypal_icon.svg"
            alt="Image for google play badge"
            class="w-auto h-10 bg-[#F6F6F6] rounded-lg px-2"
          />
          <img
            src="../../../assets/img/bizum_icon.svg"
            alt="Image for google play badge"
            class="w-14 h-10 bg-[#F6F6F6] rounded-lg px-2"
          />
          <img
            src="../../../assets/img/apple_pay_icon.svg"
            alt="Image for google play badge"
            class="w-auto h-10 bg-[#F6F6F6] rounded-lg px-2"
          />
          <img
            src="../../../assets/img/google_pay_icon.svg"
            alt="Image for google play badge"
            class="w-16 h-10 bg-[#F6F6F6] rounded-lg px-2"
          />
        </div>
      </div>
      <div class="footer-section">
        <h5 class="font-black text-xl">Síguenos!</h5>
        <div class="flex flex-row items-center">
          <a href="https://www.instagram.com" target="_blank">
            <img
              src="../../../assets/img/instagram.svg"
              alt="Image for instagram badge"
              class="w-auto h-7 cursor-pointer"
            />
          </a>
          <a href="https://twitter.com" target="_blank">
            <img
              src="../../../assets/img/twitterx.svg"
              alt="Image for x badge"
              class="w-auto h-7 cursor-pointer"
            />
          </a>
          <a href="https://facebook.com" target="_blank">
            <img
              src="../../../assets/img/facebook.svg"
              alt="Image for facebook badge"
              class="w-auto h-7 cursor-pointer"
            />
          </a>
          <a href="https://tiktok.com" target="_blank">
            <img
              src="../../../assets/img/tiktok.svg"
              alt="Image for tiktok badge"
              class="w-auto h-7 cursor-pointer"
            />
          </a>
          <a href="https://youtube.com" target="_blank">
            <img
              src="../../../assets/img/youtube.svg"
              alt="Image for youtube badge"
              class="w-auto h-7 cursor-pointer"
            />
          </a>
        </div>
      </div>
    </div>
  </section>
  <div class="footer-bottom">
    <!-- Enlaces a políticas y selección de idioma/país -->
    <a href="">Política de privacidad</a>|<a href="">Condiciones de compra</a
    >|<a href="">Política de cookies</a>|<a href="">Preferencias de cookies</a
    >|<a href=""><i class="fa-solid fas fa-globe"></i> España</a>|<a href=""
      >Español</a
    >
  </div>
</footer>
