<section class="grid grid-cols-[1fr_600px] brand-banner">
  <div id="grid-layout" class="grid grid-rows-[250px_1fr] pt-14">
    <div class="flex flex-col justify-center items-center">
      <div class="flex flex-col items-center div-brand-txt">
        <h2 class="text-8xl font-black title-banner">DIOR x NIKE</h2>
        <p class="text-white text-4xl font-thin">La colaboración del siglo</p>
      </div>
    </div>
    <button
      class="drop-shadow-md mx-auto my-auto text-base font-sans bg-black text-white rounded-lg hover:bg-white font-bold hover:text-black px-2 py-1 w-32 transition-colors duration-200"
    >
      Ver más -->
    </button>
  </div>
  <div id="img-div" class="justify-end">
    <img
      src="../../../assets/img/imgCollab.svg"
      alt="Image for brand x brand collab"
    />
  </div>
</section>
