a {
  display: inline-block; /* O inline-block si es necesario */
  padding: 0;
}

::ng-deep .swiper-button-next,
::ng-deep .swiper-button-prev {
  color: #000 !important;
  font-weight: 900;
}
:root {
  --swiper-theme-color: #000 !important;
}
::ng-deep .swiper-pagination-bullet-active,
::ng-deep .swiper-pagination-bullet {
  background: #000 !important; /* Color de los bullets */
}
::ng-deep .swiper-pagination-bullet-active {
  background: #000 !important; /* Color de los bullets activos */
}

/* Estilos base para dispositivos grandes */
h1 {
  font-size: 2rem; /* Tamaño más pequeño para el título en dispositivos más pequeños */
}

.product-card {
  width: 100%; /* Usa todo el ancho disponible en dispositivos pequeños */
  max-width: 100px; /* Establece un ancho máximo para que no se vea demasiado grande en dispositivos grandes */
}

/* Media query para dispositivos pequeños (menores a 1024px) */

@media screen and (max-width: 389px) {
  a {
    display: inline-block; /* O inline-block si es necesario */
    padding: 0;
  }
  .product-card {
    display: flex;
    place-items: center;
    justify-content: center;
  }
  .item-card {
    display: grid;
    grid-template-columns: 165px 100px 80px;
  }
  .image-card {
    justify-content: center;
    width: 100%;
  }
}

@media screen and (min-width: 390px) and (max-width: 400px) {
  .product-card {
    display: flex;
    place-items: center;
    justify-content: center;
  }
  .item-card {
    display: grid;
    grid-template-columns: 165px 115px 80px;
  }
  .image-card {
    justify-content: center;
    width: 100%;
  }
}

@media screen and (min-width: 400px) and (max-width: 429px) {
  .product-card {
    display: flex;
    place-items: center;
    justify-content: center;
  }
  .item-card {
    display: grid;
    grid-template-columns: 175px 125px 85px;
  }
  .image-card {
    justify-content: center;
    width: 100%;
  }
}

@media screen and (min-width: 430px) and (max-width: 479px) {
  .product-card {
    display: flex;
    place-items: center;
    justify-content: center;
  }
  .item-card {
    display: grid;
    grid-template-columns: 195px 125px 80px;
  }
  .image-card {
    justify-content: center;
    width: 100%;
  }
}

@media screen and (min-width: 480px) and (max-width: 560px) {
  .product-card {
    display: flex;
    place-items: center;
    justify-content: center;
  }
  .item-card {
    display: grid;
    grid-template-columns: 160px 120px 70px;
  }
  .image-card {
    justify-content: center;
    width: 100%;
  }
}

@media screen and (min-width: 560px) and (max-width: 780px) {
  .product-card {
    display: flex;
    place-items: center;
    justify-content: center;
  }
  .item-card {
    display: grid;
    grid-template-columns: 160px 110px 70px;
  }
  .image-card {
    justify-content: center;
    width: 100%;
  }
}

@media screen and (min-width: 780px) and (max-width: 830px) {
  .product-card {
    display: flex;
    place-items: center;
    justify-content: center;
  }
  .item-card {
    display: grid;
    grid-template-columns: 160px 120px 75px;
  }
  .image-card {
    justify-content: center;
    width: 100%;
  }
}

@media screen and (min-width: 830px) and (max-width: 1024px) {
  .product-card {
    display: flex;
    place-items: center;
    justify-content: center;
  }
  .item-card {
    display: grid;
    grid-template-columns: 160px 110px 70px;
  }
  .image-card {
    justify-content: center;
    width: 100%;
  }
}

/*Galaxy fold devices */
@media screen and (max-width: 280px) {
  .product-card {
    display: flex;
    place-items: center;
    justify-content: center;
  }
  .item-card {
    display: grid;
    grid-template-columns: 140px 60px 60px;
  }
  .image-card {
    justify-content: center;
    width: 100%;
  }

  #prod_name {
    font-size: 12px;
  }

  #prod_price {
    font-size: 20px;
  }
}

@media screen and (min-width: 360px) and (max-width: 370px) {
  .product-card {
    display: flex;
    place-items: center;
    justify-content: center;
  }
  .item-card {
    display: grid;
    grid-template-columns: 165px 100px 65px;
  }
  .image-card {
    justify-content: center;
    width: 100%;
  }
}

/* Media query para dispositivos de escritorio */
@media (min-width: 1024px) {
  h1 {
    font-size: 4rem; /* Tamaño más grande para el título en escritorio */
  }

  .product-card {
    max-width: 400px; /* Ancho máximo para las tarjetas en dispositivos de escritorio */
  }
}
