<section class="flex flex-col z-40 md:overflow-hidden">
  <div id="video-layout" class="relative flex-grow-0 w-full">
    <div
      id="opacity-layout"
      class="absolute w-full h-full bg-black z-30 opacity-20"
    ></div>
    <!-- A partir de angular 8+ hay que poner [] en las propiedades del video-->
    <video
      id="videolp"
      [muted]="true"
      [autoplay]="true"
      loop
      class="relative z-10 w-full h-full object-cover"
    >
      <source src="../../../assets/videolp.mp4" type="video/mp4" />
    </video>

    <div
      id="div_title_lp"
      class="absolute inset-0 flex flex-col items-start justify-center z-40 md:ml-9"
    >
      <h1 class="text-white font-black mb-4 text-8xl w-1 drop-shadow-2xl">
        BLACK FRIDAY
      </h1>
      <img
        src="../../../assets/img/Arrow 2.svg"
        alt="image arrow for title"
        class="md:ml-2 drop-shadow-2xl"
      />
    </div>

    <button
      id="btn-descubreMas"
      class="z-40 absolute inset-x-0 bottom-10 mx-auto text-base font-sans bg-black text-white rounded-lg hover:bg-white font-bold hover:text-black px-2 py-1 w-52 transition-colors duration-200"
    >
      Descubre más -->
    </button>
  </div>

  <!-- Categorías destacadas // New Arrivals/Novedades -->
  <section id="section-arrivals" class="w-full">
    <div class="marquee bg-black text-white p-1 font-bold font-sans">
      <span class="marquee-content-t">
        <ng-container *ngFor="let item of arrivals; let i = index">
          New Arrivals <span class="separator">/ \</span> Novedades
          <span class="separator">/ \</span>
        </ng-container>
      </span>
    </div>
    <div class="flex flex-wrap justify-around">
      <div
        class="p-4 w-full sm:w-1/2 lg:w-1/3 flex justify-center drop-shadow-md"
      >
        <!-- Contenedor de la tarjeta custom figma-->
        <div
          class="flex flex-col items-center h-80 w-80 bg-cover rounded-3xl"
          style="background-image: url('../../../assets/img/c_aLP.svg')"
        >
          <!-- Contenido de la tarjeta -->
          <div id="btn-sm" class="mt-auto mb-2 mx-auto">
            <button
              class="drop-shadow-md mx-auto text-base font-sans bg-black text-white rounded-lg hover:bg-white font-bold hover:text-black px-2 py-1 w-52 transition-colors duration-200"
            >
              Chaquetas y abrigos -->
            </button>
          </div>
        </div>
      </div>

      <div
        class="p-4 w-full sm:w-1/2 lg:w-1/3 flex justify-center drop-shadow-md"
      >
        <!-- Contenedor de la tarjeta custom figma-->
        <div
          class="flex flex-col items-center h-80 w-80 bg-cover rounded-3xl"
          style="background-image: url('../../../assets/img/cargosLP.svg')"
        >
          <!-- Contenido de la tarjeta -->
          <div id="btn-sm" class="mt-auto mb-2">
            <button
              class="drop-shadow-md mx-auto text-base font-sans bg-black text-white rounded-lg hover:bg-white font-bold hover:text-black px-2 py-1 w-52 transition-colors duration-200"
            >
              Cargos -->
            </button>
          </div>
        </div>
      </div>

      <div
        class="p-4 w-full sm:w-1/2 lg:w-1/3 flex justify-center drop-shadow-md"
      >
        <!-- Contenedor de la tarjeta custom figma-->
        <div
          class="flex flex-col items-center group h-80 w-80 bg-cover rounded-3xl"
          style="background-image: url('../../../assets/img/accesoriosLP.svg')"
        >
          <!-- Contenido de la tarjeta -->
          <div id="btn-sm" class="mt-auto mb-2">
            <button
              class="drop-shadow-md mx-auto text-base font-sans bg-black text-white rounded-lg hover:bg-white font-bold hover:text-black px-2 py-1 w-52 transition-colors duration-200"
            >
              Accesorios -->
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="marquee bg-black text-white p-1 font-bold font-sans">
      <span class="marquee-content">
        <ng-container *ngFor="let item of arrivals; let i = index">
          New Arrivals <span class="separator">/ \</span> Novedades
          <span class="separator">/ \</span>
        </ng-container>
      </span>
    </div>
  </section>
</section>
<!-- Slider -->
<app-top-ventas></app-top-ventas>
<!-- Banner marca x marca -->
<app-brand-collabs></app-brand-collabs>
<!-- Banner newsletter -->
<app-newsletter></app-newsletter>
<!-- Footer -->
<app-footer></app-footer>
