/* Custom media query*/
#videolp {
  height: 50vh;
}
/* Para pantallas menores de 1024px */
@media screen and (max-width: 1075px) {
  #btn-descubreMas {
    font-size: 0.8rem /* 16px */;
    line-height: 1rem /* 24px */;
    width: 11em;
  }

  #div_title_lp h1 {
    font-size: 4rem;
  }

  #div_title_lp img {
    width: 80px;
  }
}

/* Para pantallas menores de 768px */
@media screen and (max-width: 768px) {
  #btn-descubreMas {
    width: 11em;
  }

  #section-arrivals div {
    width: 100%;
  }

  #btn-sm {
    display: flex;
    justify-content: center;
  }

  #div_title_lp {
    display: flex;
    place-items: center;
  }

  #div_title_lp h1 {
    width: auto;
  }

  #div_title_lp img {
    width: 80px;
  }
}

/* Para pantallas menores de 480px */
@media screen and (max-width: 480px) {
  #videolp {
    height: 100vh;
  }

  #btn-descubreMas {
    width: 9rem;
  }

  #btn-sm {
    display: flex;
    justify-content: center;
  }

  #div_title_lp {
    display: flex;
    place-items: center;
  }

  #div_title_lp h1 {
    width: auto;
    font-size: 30px;
  }

  #div_title_lp img {
    width: 50px;
  }
}

#section-arrivals {
  background: linear-gradient(to bottom, #efffc3, #ffffff);
}

/* For marquee animations */
@keyframes marquee-t {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  width: 100vw;
}

.marquee-content-t {
  display: inline-block;
  white-space: nowrap;
  animation: marquee-t 40s linear infinite;
}

.marquee-content {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 40s linear infinite;
}

.separator {
  color: #efffc3;
}

.alert-float {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 90%;
  width: auto;
  z-index: 1050;  
  transition: opacity 0.3s ease-in-out;
}

@media (min-width: 640px) {
  .alert-float {
    max-width: 40%;
  }
}
