<section class="newsletter grid grid-rows-[410px]">
  <div class="newsletter-content flex flex-col items-center justify-center p-8">
    <h2 class="text-5xl font-black pb-4">Moda en movimiento:</h2>
    <p class="text-lg">
      Suscríbete y consigue un 10% de descuento. Descubre primero las
      colecciones más exclusivas y promociones únicas. <br />
      <b><i>#RevolucionaTuEstilo</i></b>
    </p>
    <form [formGroup]="formulario" class="newsletter-form">
      <div class="flex flex-row ">
        <input class="w-auto h-auto"
          type="email"
          placeholder="E-mail"
          aria-label="Correo electrónico"
          formControlName="email"
        />
        <button
          (click)="checkEmail()"
          aria-label="Suscribirse a la newsletter"
        >
          <i class="fas fa-envelope"></i>
        </button>
        <br />
        <!--<div *ngIf="formulario.controls.email.errors">
          <p *ngIf="formulario.get('email').errors?.required" class="text-red-600">Se requiere un email.</p>
          <p *ngIf="formulario.get('email').errors?.email" class="text-red-600">Introduzca un email.</p>
        </div>-->
      </div>
    </form>

    <div
      class="newsletter-options flex flex-row justify-center items-end text-gray-500 text-sm"
    >
      <a href="#" class="underline mx-4">Quiero darme de baja</a>
      <a href="#" class="underline">Consulta condiciones</a>
    </div>
  </div>
</section>
