<section class="newsletter grid grid-rows-[410px]">
  <div class="newsletter-content flex flex-col items-center justify-center p-8">
    <h2 class="text-5xl font-black pb-4">Moda en movimiento:</h2>
    <p class="text-lg">
      Suscríbete y consigue un 10% de descuento. Descubre primero las
      colecciones más exclusivas y promociones únicas. <br />
      <b><i>#RevolucionaTuEstilo</i></b>
    </p>
    <form [formGroup]="formulario" class="newsletter-form" (ngSubmit)="checkEmail(formulario.value.email)">
      <div class="flex flex-col">
        <div class="flex flex-row input-email rounded-lg my-4">
          <input class="w-full h-auto rounded-s-lg"
            type="email"
            placeholder="E-mail"
            aria-label="Correo electrónico"
            formControlName="email"
            [class.is-invalid]="formulario.get('email')?.invalid && formulario.get('email')?.touched"/>
          <button type="submit" class="rounded-e-lg" aria-label="Suscribirse a la newsletter">
            <i class="fas fa-envelope"></i>
          </button>
        </div>
        <div class="error-container text-red-600">
          <span *ngIf="formulario.get('email')?.hasError('required')"
            [class.hidden-email]="!formulario.get('email')?.invalid || !formulario.get('email')?.touched">
            Se requiere un email.
          </span>
          <span *ngIf="formulario.get('email')?.hasError('pattern')"
            [class.hidden-email]="!formulario.get('email')?.invalid || !formulario.get('email')?.touched">
            Introduzca un email válido.
          </span>
        </div>               
      </div>      
    </form>
    <div class="newsletter-options flex flex-row justify-center items-end text-gray-500 text-sm mt-4">
      <a href="#" class="underline mx-4">Quiero darme de baja</a>
      <a href="#" class="underline">Consulta condiciones</a>
    </div>
  </div>
</section>
