<!-- Side menu -->
<div class="fixed-menu z-50 top-0 h-full flex flex-col justify-center w-96 bg-white shadow-md transition-transform duration-500 ease-in-out"
  [class.open]="isOpen">
  <!-- Botón de cierre -->
  <button class="absolute top-3 left-3" (click)="closeMenu()">
    <i class="fas fa-times text-3xl hover:text-gray-500 transition duration-300"></i>
  </button>

  <section class="flex flex-col items-center text-xl space-y-2">
    <div class="mb-4">
      <a href="" (click)="setActiveGender('Hombre'); $event.preventDefault()"
        [ngClass]="{
          'underline-active': activeGender === 'Hombre',
          'underline-inactive': activeGender !== 'Hombre',
          'text-gray-400': activeGender !== 'Hombre'
        }" class="font-medium md:text-lg relative mx-2 cursor-pointer">Hombre</a> |
      <a href="" (click)="setActiveGender('Mujer'); $event.preventDefault()"
        [ngClass]="{
          'underline-active': activeGender === 'Mujer',
          'underline-inactive': activeGender !== 'Mujer',
          'text-gray-400': activeGender !== 'Mujer'
        }" class="font-medium md:text-lg relative mx-2 cursor-pointer">Mujer</a>
    </div>
    <div [@slideAnimation]="slideDirection" class="flex flex-col place-items-center">
      <a href="" id="cat1" class="font-medium md:text-2xl relative hover-underline-animation">Novedades</a>
      <a href="" id="cat2" class="transition-all duration-300">Los más vendidos</a>
      <a href="" id="cat3" class="text-red-600 hover:text-red-500 transition-all duration-300">Promociones</a>
      <hr class="h-2 border-black w-40" />
      <a *ngFor="let categoria of categorias_ropa" href="#" class="hover:translate-x-1 transition-all duration-300">{{ categoria }}</a>
      <a href="#" class="font-medium hover:translate-x-1 transition-all duration-300">Ver todo</a>
      <hr class="h-2 border-black w-40" />
      <a *ngFor="let zapatillas of tipos_zapatillas" href="#" id="fade-in" class="hover:translate-x-1 transition-all duration-300">{{ zapatillas }}</a>
      <a href="#" class="font-medium hover:translate-x-1 transition-all duration-300">Ver todo</a>
      <hr class="h-2 border-black w-40" />
      <a *ngFor="let menuOptions of menuOptionsList" href="#">{{menuOptions}}</a>
    </div>
  </section>
</div>

<!-- Overlay to darken page -->
<div *ngIf="isOpen" class="fixed z-40 left-0 top-0 w-full h-full bg-black opacity-50 transition-opacity duration-500 ease-in-out" (click)="closeMenu()">
</div>
