header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  z-index: 50; 
  padding: 0.5rem 1rem; 
  border: none;
  box-shadow: none;
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

header.bg-static {
  background: linear-gradient(
    rgba(0, 0, 0, 0.8), 
    rgba(0, 0, 0, 0)
  );
}

header.bg-scroll {
  background: rgba(0, 0, 0, 0.8); /* Fondo opaco al hacer scroll */
  backdrop-filter: blur(5px); 
}

@media screen and (max-width: 1200px) {
  #title {
    margin-left: 0;
  }
}

@media screen and (max-width: 280px) {
  #title {
    font-size: 25px;
  }
}

