<header  [ngClass]="{'bg-scroll': scrolled, 'bg-static': !scrolled}" class="flex flex-row justify-center items-center md:flex-col md:grid md:grid-cols-[50px_1fr_310px_50px_50px] text-center py-2 fixed top-0 left-0 w-full z-50">
    <button (click)="toggleMenu()" class="flex flex-col justify-around w-8 h-8 mx-4 md:ml-2 focus:outline-none">
        <span class="block w-full h-1 bg-white rounded-full "></span>
        <span class="block w-full h-1 bg-white rounded-full "></span>
        <span class="block w-full h-1 bg-white rounded-full "></span>
    </button>

    <h1 routerLink="/" id="title" class="text-4xl font-semibold text-white md:ml-[380px] cursor-pointer">Endless Apparel</h1>

    <div class="hidden md:flex items-center md:relative">
        <i class="fa-solid fa-magnifying-glass text-white absolute top-1/2 transform -translate-y-1/2 left-2"></i>
        <input type="text" placeholder="Buscar" #search class="pl-10 pr-2 py-1 border-2 border-white focus:ring-white focus:outline-none rounded text-white bg-transparent placeholder-white"/>
    </div>
    <a (click)="formularioAuth()" class="hidden md:flex md:flex-row md:place-items-center"><i class="fa-solid fa-user text-white hover:text-black hover:cursor-pointer transition duration-300"></i></a>
    <!-- <a routerLink="/login" routerLinkActive="active" class="hidden md:flex md:flex-row md:place-items-center"><i class="fa-solid fa-user text-white hover:text-black hover:cursor-pointer transition duration-300"></i></a>   -->
    <a class="hidden md:flex md:flex-row md:place-items-center"><i class="fa-solid fa-bag-shopping text-white hover:text-black hover:cursor-pointer transition duration-300" ></i></a>
</header>
