.hover-underline-animation {
  position: relative;
  overflow: hidden;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #000;
  height: 2px;
  transition-property: right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.hover-underline-animation:hover::after {
  right: 0;
}

.underline-active::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px; /* Grosor del subrayado */
  background-color: currentColor; /* Color de texto actual */
  transition: opacity 300ms, transform 300ms; /* Suaviza la transición de la línea */
}

.underline-active {
  position: relative;
}

.underline-active::after {
  position: absolute;
  bottom: -2px; /* Ajusta según la altura del texto */
  left: 0;
  opacity: 1; /* Línea visible */
  transform: scaleX(1); /* Línea a escala normal */
}

.underline-inactive::after {
  opacity: 0; /* Línea invisible */
  transform: scaleX(0); /* Línea reducida a 0 */
}

/* Estilos base para el menú lateral */
.fixed-menu {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 96; /* Ancho por defecto */
  background: white;
  transition: transform 0.5s ease-in-out;
}

.fixed-menu section {
  line-height: 32px;
}

/* Se oculta el menú lateral por defecto */
.fixed-menu {
  transform: translateX(-100%);
}

/* Se muestra el menú lateral cuando isOpen es true */
.fixed-menu.open {
  transform: translateX(0);
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  .fixed-menu {
    width: 75%; /* Ancho del menú lateral más pequeño para pantallas pequeñas */
  }

  .fixed-menu section {
    font-size: 17px;
    line-height: 28px;
  }
}

/* Media query para pantallas aún más pequeñas, como teléfonos móviles */
@media (max-width: 480px) {
  .fixed-menu {
    width: 100%; /* El menú lateral ocupa toda la pantalla */
  }

  /* Aquí puedes ajustar el tamaño de fuente y otros estilos para el contenido del menú */
  .fixed-menu section {
    font-size: 20px;
    line-height: 33px;
  }
}

/* Media query para pantallas pequeñas como iPhone SE */
@media (max-width: 375px) {
  .fixed-menu section {
    font-size: 15px;
    line-height: 25px;
  }
}

/* Media query para pantallas pequeñas como iPhone SE */
@media (max-height: 600px) {
  .fixed-menu section {
    font-size: 16px;
    line-height: 24px;
  }
}
